@import url(sanitize.css);

.toplist{
  color:#474a4d;
  list-style: none;
  padding:120px 130px ;
}

.toplist li::hover{
  background: rgba(255,255,255,0.7);
}

body{
  background-image: url(../img/toppage.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #000000;
}

ol{
  counter-reset: item;
}

li{
  font-family: Lato;
  font-size: 50px;
  padding-bottom: 30px;
}

li::before{
  counter-increment: item;
  content:counter(item,decimal-leading-zero)"   ";
  font-size: 15px;
}

